body{
    font-family: Oswald;
    background-color: #6DDEB4;
    color:#5B4C5E;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Gowun+Batang";
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header{
    text-align: center;
    
}

#hero, footer {
    background-color: #6DDE74;
    text-align: center;
    font-size: 20pt;
    padding: 10px;
    border: 3px solid #5B4C5E;
}

/*hero section*/ 

#hero img{
    width: 300px;
}

/*Bio section*/

#bio{
    text-align: center;
}

/*Hobbies section*/

#hobbies{
    text-align: center;
}

#hobbies  ul {
    
    font-size: 20pt;
    padding: 10px;
    border: 3px solid #5B4C5E;
    display: inline-block; 
	text-align: left;
    background-color: #6DDE74;
    list-style-type: square;
}

#hobbies ul li:nth-child(even){
    color:black;
}

#hobbies ul li:nth-child(odd){
    color:darkmagenta;
}

/*Gallery section*/

#gallery{

    border: 3px solid #5B4C5E;

}

#gallery img{

    max-width:100%;

}

#gallery figure{

    text-align: center;

}

#gallery figcaption{
    background-color: #6DDE74;
    text-align: center;
    font-size: 20pt;
    padding: 10px;
    border: 3px solid #5B4C5E;
}

#gallery img{

    border: 5px solid darkmagenta;

}

#gallery hr{

    border:3px solid darkmagenta;

}





