body{
    font-family: Oswald;
    background-color: #6DDEB4;
    color:#5B4C5E;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Gowun+Batang";
    text-align: center;
}

h1 {
    font-size: 40pt;
}

h2{
    font-size: 35pt;
    margin: .1em;
}

header{
    text-align: center;
    
}

#hero, footer {
    background-color: #6DDE74;
    text-align: center;
    font-size: 20pt;
    padding: 10px;
    border: 3px solid #5B4C5E;
}

/*hero section*/ 

#hero img{
    width: 300px;
}

/*Bio section*/

#bio{
    text-align: center;
}

/*Hobbies section*/


#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hobbies  ul {
    
    font-size: 20pt;
    padding: 10px;
    border: 3px solid #5B4C5E;
    display: inline-block; 
	text-align: left;
    background-color: #6DDE74;
    list-style-type: square;
}


#hobbies ul li:nth-child(even){
    color:black;
}

#hobbies ul li:nth-child(odd){
    color:black;
}

/*Gallery section*/

#gallery{

    border: 3px solid darkmagenta;

}

#gallery img{

    max-width:100%;

}

#gallery figure{

    text-align: center;

}

#gallery figcaption{
    background-color: #6DDE74;
    text-align: center;
    font-size: 25pt;
    padding: 10px;
    border:3px solid darkmagenta;
}

#gallery img{

    border: 5px solid darkmagenta;

}

#gallery hr{

    border:3px solid darkmagenta;

}

/*Lit Section*/

#Lit{
    border: 5px solid darkmagenta;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#Lit h2{

font-size: 25pt;

}

#Lit div{

    text-align: center;
    font-size: 17pt;
    padding: 2rem;
    max-width: 100rem;
    margin: 0 auto;

}

#Lit div p:nth-child(2n+1)::first-letter{

    color:darkmagenta;
    float: center;
    font-family:"Gowun+Batang";
    font-size: 50px;
    line-height: 50px;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 2px;

}

@media screen and (min-width: 60em){

    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    figure img{
        width: 100%;
    }

    

    #Lit div{
        max-width: 100%;
        columns: 22rem;
    }

}

/* Large Screen Size*/

@media screen and (min-width:100em){
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure{
        display: block;
    }
}

/*Video*/

#video iframe{
    border: 3px solid darkmagenta;
    max-width:100%;
    background-color: #6DDE74;
    text-align: center;
    font-size: 25pt;
    padding: 1rem;
    border:3px solid darkmagenta;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video h3{
    font-size: 20pt;
    
}

/*Contact Form*/

#formElements{
    display: grid;
}




